body{

background:#0f0f1d;
font-family:Arial;
color:white;

}

.giftContainer{

padding:15px;

}

#giftGrid{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:10px;

}

.giftCard{

background:#23233d;

border-radius:15px;

padding:10px;

text-align:center;

cursor:pointer;

transition:.3s;

}

.giftCard:hover{

background:#8a2be2;

}

.giftEmoji{

font-size:35px;

}

.giftName{

margin-top:8px;

font-size:13px;

}

.giftCoins{

color:gold;

font-size:12px;

margin-top:5px;

}
