*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#0f172a;
color:white;
}

.hidden{
display:none;
}

.topbar{
height:65px;
background:#6d28d9;
display:flex;
justify-content:space-between;
align-items:center;
padding:0 20px;
position:fixed;
top:0;
left:0;
right:0;
z-index:100;
box-shadow:0 3px 10px rgba(0,0,0,.3);
}

.logo{
font-size:24px;
font-weight:bold;
}

.coins{
background:#7c3aed;
padding:8px 15px;
border-radius:20px;
font-weight:bold;
}

main{
padding-top:80px;
padding-bottom:80px;
}

h2{
padding:15px;
font-size:22px;
}

#hostList{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:15px;
padding:15px;
}

.hostCard{
background:#1e293b;
border-radius:18px;
overflow:hidden;
transition:.3s;
}

.hostCard:hover{
transform:scale(1.03);
}

.hostImage{
width:100%;
height:180px;
object-fit:cover;
}

.hostInfo{
padding:12px;
}

.hostName{
font-size:18px;
font-weight:bold;
margin-bottom:6px;
}

.online{
color:#22c55e;
font-size:14px;
}

.callBtn{
width:100%;
margin-top:10px;
background:#7c3aed;
border:none;
color:white;
padding:12px;
border-radius:12px;
font-size:16px;
cursor:pointer;
}

.videoArea{
position:relative;
width:100%;
height:70vh;
background:black;
}

#remoteVideo{
width:100%;
height:100%;
object-fit:cover;
}

#localVideo{
position:absolute;
width:120px;
height:170px;
right:15px;
top:15px;
border-radius:15px;
border:2px solid white;
background:black;
}

.callInfo{
padding:15px;
text-align:center;
font-size:24px;
font-weight:bold;
}

.callButtons{
display:flex;
justify-content:center;
gap:15px;
padding:20px;
}

.callButtons button{
width:70px;
height:70px;
border-radius:50%;
border:none;
font-size:26px;
cursor:pointer;
}

#audioBtn{
background:#3b82f6;
color:white;
}

#videoBtn{
background:#10b981;
color:white;
}

#endBtn{
background:#ef4444;
color:white;
}

.bottomNav{
position:fixed;
bottom:0;
left:0;
right:0;
height:70px;
background:#111827;
display:flex;
justify-content:space-around;
align-items:center;
box-shadow:0 -2px 10px rgba(0,0,0,.4);
}

.bottomNav button{
background:none;
border:none;
color:white;
font-size:26px;
cursor:pointer;
}

.bottomNav button:hover{
color:#a855f7;
}
.loginBox{

width:90%;
max-width:380px;

margin:80px auto;

background:#1E293B;

padding:30px;

border-radius:20px;

}

.loginBox h1{

text-align:center;

margin-bottom:10px;

}

.loginBox p{

text-align:center;

margin-bottom:20px;

color:#bbb;

}

.loginBox input,
.loginBox select{

width:100%;

padding:14px;

margin-bottom:15px;

border:none;

border-radius:10px;

background:#334155;

color:white;

}

.loginBox button{

width:100%;

padding:14px;

margin-top:10px;

border:none;

border-radius:10px;

background:#7C3AED;

color:white;

font-size:16px;

  }
